<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AppValidateService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <connectionStrings>
    <add name="unica" connectionString="Data Source=NANOWIN-PC\SQLEXPRESS;Initial Catalog=DIMCEF;   User ID=sa;Password=123456;MultipleActiveResultSets=true; Connection Timeout=0; connection lifetime=0; min pool size=120; max pool size=5000; pooling=false"
      providerName="System.Data.SqlClient" />
    <add name="DB_LogConnectionString" connectionString="Data Source=NANOWIN-PC\SQLEXPRESS;Initial Catalog=bd_dummy; User ID=sa;Password=123456;MultipleActiveResultSets=true; Connection Timeout=0; connection lifetime=0; min pool size=120; max pool size=5000; pooling=false"
      providerName="System.Data.SqlClient" />
    <add name="AppValidateService.Properties.Settings.unica" connectionString="Data Source=NANOWIN-PC\SQLEXPRESS;Initial Catalog=DIMCEF;   User ID=sa;Password=123456;MultipleActiveResultSets=true; Connection Timeout=0; connection lifetime=0; min pool size=120; max pool size=5000; pooling=false"
      providerName="System.Data.SqlClient" />
    <add name="AppValidateService.Properties.Settings.DB_LogConnectionString"
      connectionString="Data Source=NANOWIN-PC\SQLEXPRESS;Initial Catalog=bd_dummy; User ID=sa;Password=123456;MultipleActiveResultSets=true; Connection Timeout=0; connection lifetime=0; min pool size=120; max pool size=5000; pooling=false"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <applicationSettings>
    <AppValidateService.Properties.Settings>
      <setting name="Demo" serializeAs="String">
        <value>NO</value>
      </setting>
      <setting name="participantCode" serializeAs="String">
        <value>801</value>
      </setting>
      <setting name="Timer" serializeAs="String">
        <value>30000</value>
      </setting>
      <setting name="Directorio" serializeAs="String">
        <value>Logs</value>
      </setting>
      <setting name="rutaXml" serializeAs="String">
        <value>FACTURAS</value>
      </setting>
      <setting name="rutaLogs" serializeAs="String">
        <value>Logs_DLL</value>
      </setting>
      <setting name="GeneraLogs" serializeAs="String">
        <value>NO</value>
      </setting>
      <setting name="rutaLogs_dll_datos" serializeAs="String">
        <value>Logs_DLL</value>
      </setting>
      <setting name="GeneraLogs_dll_datos" serializeAs="String">
        <value>NO</value>
      </setting>
      <setting name="AppValidateService_WS_Notificaciones_Web_Cliente_WS_Notificaciones_Web_Cliente"
        serializeAs="String">
        <value>http://localhost:51603/WS_Notificaciones_Web_Cliente.asmx</value>
      </setting>
    </AppValidateService.Properties.Settings>
  </applicationSettings>
</configuration>